absl-py==2.0.0
aiohttp==3.9.3
aiohttp-retry==2.8.3
aiosignal==1.3.1
alembic==1.13.1
amqp==5.2.0
annotated-types==0.6.0
antlr4-python3-runtime==4.9.3
appdirs==1.4.4
asttokens==2.4.1
async-timeout==4.0.3
asyncssh==2.14.2
atpublic==4.0
attrs==23.2.0
beautifulsoup4==4.12.3
billiard==4.2.0
blinker==1.7.0
boto3==1.34.15
botocore==1.34.15
bs4==0.0.2
cachetools==5.3.2
celery==5.3.6
certifi==2023.7.22
cffi==1.16.0
chardet==4.0.0
charset-normalizer==3.1.0
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
cloudpickle==3.0.0
colorama==0.4.6
comm==0.2.1
command-not-found==0.3
configobj==5.0.8
contourpy==1.2.0
coverage==7.5.0
cryptography==42.0.3
cycler==0.10.0
Cython==0.29.35
dbus-python==1.2.18
debugpy==1.8.1
decorator==5.1.1
dictdiffer==0.9.0
diskcache==5.6.3
distro==1.7.0
distro-info===1.1build1
docker==7.0.0
dpath==2.1.6
dulwich==0.21.7
dvc==3.45.0
dvc-data==3.13.0
dvc-gdrive==3.0.1
dvc-http==2.32.0
dvc-objects==5.0.0
dvc-render==1.0.1
dvc-studio-client==0.20.0
dvc-task==0.3.0
entrypoints==0.4
exceptiongroup==1.2.0
executing==2.0.1
filelock==3.13.1
fire==0.5.0
Flask==3.0.2
flatten-dict==0.4.2
flufl.lock==7.1.1
fonttools==4.47.0
frozenlist==1.4.1
fsspec==2024.2.0
funcy==2.0
gitdb==4.0.11
GitPython==3.1.40
google-api-core==2.17.1
google-api-python-client==2.118.0
google-auth==2.26.1
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
googleapis-common-protos==1.62.0
grandalf==0.8
greenlet==3.0.3
grpcio==1.60.0
gto==1.7.0
gunicorn==21.2.0
httplib2==0.20.2
huggingface-hub==0.20.2
hydra-core==1.3.2
idna==2.10
importlib-metadata==4.6.4
iniconfig==2.0.0
intervaltree==3.1.0
ipykernel==6.29.3
ipython==8.22.2
iterative-telemetry==0.0.8
itsdangerous==2.1.2
jedi==0.19.1
jeepney==0.7.1
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.3.2
jupyter_client==8.6.0
jupyter_core==5.7.1
keyring==23.5.0
kiwisolver==1.4.5
kombu==5.3.5
lapx==0.5.5
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lxml==5.1.0
Mako==1.3.2
Markdown==3.5.1
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.8.2
matplotlib-inline==0.1.6
mdurl==0.1.2
mlflow==2.10.2
more-itertools==8.10.0
mpmath==1.3.0
multidict==6.0.5
nest-asyncio==1.6.0
netifaces==0.11.0
networkx==3.2.1
nltk==3.8.1
numpy==1.24.3
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.18.1
nvidia-nvjitlink-cu12==12.3.101
nvidia-nvtx-cu12==12.1.105
oauth2client==4.1.3
oauthlib==3.2.0
omegaconf==2.3.0
opencv-python==4.7.0.72
opencv-python-headless==4.8.0.74
orjson==3.9.14
packaging==23.2
pandas==2.0.2
parso==0.8.3
pathspec==0.12.1
pexpect==4.9.0
pillow==10.2.0
platformdirs==3.11.0
pluggy==1.5.0
prompt-toolkit==3.0.43
protobuf==4.23.4
psutil==5.9.7
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyarrow==15.0.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
pybboxes==0.1.6
pycparser==2.21
pydantic==2.6.1
pydantic_core==2.16.2
pydot==2.0.0
PyDrive2==1.19.0
pyfaidx==0.7.2.1
pygit2==1.14.1
Pygments==2.17.2
PyGObject==3.42.1
pygtrie==2.5.0
PyJWT==2.3.0
pyOpenSSL==24.0.0
pyparsing==3.1.1
pysam==0.21.0
pytest==8.1.2
pytest-cov==5.0.0
python-apt==2.4.0+ubuntu1
python-dateutil==2.8.2
python-dotenv==1.0.0
python-magic==0.4.27
pytz==2023.3
PyYAML==5.4.1
pyzmq==25.1.2
querystring-parser==1.2.4
rapidfuzz==3.6.1
regex==2023.12.25
requests==2.31.0
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
rich==13.7.0
roboflow==1.1.16
rsa==4.9
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
s3transfer==0.10.0
sahi==0.11.15
scikit-learn==1.4.1.post1
scipy==1.11.4
scmrepo==3.1.0
seaborn==0.13.1
SecretStorage==3.3.1
semver==3.0.2
shapely==2.0.2
shortuuid==1.0.11
shtab==1.7.0
six==1.16.0
smmap==5.0.1
sortedcontainers==2.4.0
soupsieve==2.5
SQLAlchemy==2.0.27
sqlparse==0.4.4
sqltrie==0.11.0
stack-data==0.6.3
str-analysis==0.9.21
supervision==0.17.1
sympy==1.12
systemd-python==234
tabulate==0.9.0
tensorboard==2.15.1
tensorboard-data-server==0.7.2
termcolor==2.4.0
terminaltables==3.1.10
thefuzz==0.22.1
thop==0.1.1.post2209072238
threadpoolctl==3.3.0
tomli==2.0.1
tomlkit==0.12.3
torch==2.1.2
torchvision==0.16.2
tornado==6.4
tqdm==4.65.0
traitlets==5.14.1
triton==2.1.0
typer==0.9.0
typing_extensions==4.9.0
tzdata==2023.3
ubuntu-advantage-tools==8001
ufw==0.36.1
ultralytics==8.0.238
unattended-upgrades==0.1
UNKNOWN @ git+https://github.com/ultralytics/yolov5.git@4733b4df90d9a359601c4e481b0312a5ca521fc5
uritemplate==4.1.1
urllib3==2.0.3
vine==5.1.0
voluptuous==0.14.2
wadllib==1.3.6
wcwidth==0.2.13
Werkzeug==3.0.1
yarl==1.9.4
yolov5==7.0.13
zc.lockfile==3.0.post1
zipp==1.0.0
